body {
  background-color: #e8e8e8 !important;
  background-color: #0c0014;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%230C0014' cx='50' cy='0' r='50'/%3E%3Cg fill='%23160918' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%231d111c' cx='50' cy='100' r='50'/%3E%3Cg fill='%23241620' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%232b1b23' cx='50' cy='200' r='50'/%3E%3Cg fill='%23322027' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%2339252a' cx='50' cy='300' r='50'/%3E%3Cg fill='%23402b2e' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23473131' cx='50' cy='400' r='50'/%3E%3Cg fill='%234d3735' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23533e39' cx='50' cy='500' r='50'/%3E%3Cg fill='%2359453d' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%235e4c41' cx='50' cy='600' r='50'/%3E%3Cg fill='%23635346' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23685a4b' cx='50' cy='700' r='50'/%3E%3Cg fill='%236c6251' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23706957' cx='50' cy='800' r='50'/%3E%3Cg fill='%2374715e' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23787865' cx='50' cy='900' r='50'/%3E%3Cg fill='%237c806d' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%237F8875' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

.form-container {
  width: 100%;
  margin: 0 auto;
}
.dropdown {
  width: 100%;

  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.contacts {
  color: white;
  text-decoration: none;
}

.navbar_img {
  width: 60px;
}

#add-form h2 {
  color: #fff;
}

/* product card-block style */
.card-block {
  --background: #fff;
  --cardShadow: rgba(32, 33, 37, 0.1);
  --cardShadowHover: rgba(32, 33, 37, 0.06);
  --cardShadowActive: rgba(32, 33, 37, 0.55);
  --cardBorder: #dbdce0;
  --cardBorderActive: #1a73e8;
  --textColor: #202125;
  --linkColor: #1967d2;
  --ratingColor: #faab00;
}

@media (prefers-color-scheme: dark) {
  .card-block {
    --background: #3c4043;
    --cardShadow: rgba(0, 0, 0, 0.28);
    --cardShadowHover: rgba(0, 0, 0, 0.16);
    --cardShadowActive: rgba(0, 0, 0, 0.55);
    --cardBorder: #202125;
    --cardBorderActive: #8ab4f8;
    --textColor: #e9eaee;
    --linkColor: #8ab4f8;
  }
}

.card-block {
  width: 300px;
  height: 370px;
  aspect-ratio: 2/3;
  background: var(--background) !important;
  color: var(--textColor);
  border: 1px solid var(--cardBorder);
  padding: 25px;
  box-shadow: 8px 8px 0 var(--cardShadow);
  transition: box-shadow 0.5s, transform 0.5s;
  border-radius: 8px;
  display: inline-block;
}

.card-block:hover {
  transform: translate(-2px, -4px);
  box-shadow: 16px 16px 0 var(--cardShadowHover);
}

.card-block:active {
  transform: translate(-2px, -4px);
  border: 2px solid var(--cardBorderActive);
  box-shadow: 4px 4px 0 var(--cardShadowActive);
}

.card-block > .icon,
.card-block > .title,
.card-block > .description {
  margin-bottom: 0.7em;
  cursor: default;
  user-select: none;
}

.card-block > .title {
  margin-top: 1.5em;
  font-weight: bold;
}

.card-block > .description {
  line-height: 1.5em;
  min-height: 6em;
}

.card-block > .icon {
  font-size: 3em;
  margin-bottom: 0.2em;
}

.card-block-block > .link {
  margin-bottom: 1rem;
  color: var(--linkColor);
  font-size: 0.8em;
  font-weight: 600;
}

/* Optional ~ Link the whole card-block */
.card-block-block > .link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-block-block > .link:after {
  content: "↗️";
  display: inline-block;
  margin-left: 0.3em;
  transition: transform 0.3s ease-in-out;
}

.card-block-block:hover > .link:after {
  transform: translate(0.2em, -0.2em);
}

/* product card-block style end */
.icon img {
  width: 100%;
  height: 180px;
  border-radius: 15px;
}

.product-btn-loc {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.edit-btn {
  width: 70px;
}

.product-title,
.product-price {
  color: white;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
  text-align: center;
}

.page-link {
  border-color: #202125 !important;
  background-color: #3c4043 !important;
  color: white !important;
}

.showPanel-btn {
  color: white !important;
}

.item-end {
  text-align: end;
}

.contacts {
  transition: width 2s, height 4s;
}
