body {
  background-color: #e8e8e8 !important;
}

.form-container {
  width: 100%;
  margin: 0 auto;
}
.dropdown {
  width: 100%;

  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.contacts {
  color: white;
  text-decoration: none;
}

.navbar-brand {
  width: 10%;
}
.navbar_img {
  width: 60px;
}

/* product card-block style */
.card-block {
  --background: #fff;
  --cardShadow: rgba(32, 33, 37, 0.1);
  --cardShadowHover: rgba(32, 33, 37, 0.06);
  --cardShadowActive: rgba(32, 33, 37, 0.55);
  --cardBorder: #dbdce0;
  --cardBorderActive: #1a73e8;
  --textColor: #202125;
  --linkColor: #1967d2;
  --ratingColor: #faab00;
}

@media (prefers-color-scheme: dark) {
  .card-block {
    --background: #3c4043;
    --cardShadow: rgba(0, 0, 0, 0.28);
    --cardShadowHover: rgba(0, 0, 0, 0.16);
    --cardShadowActive: rgba(0, 0, 0, 0.55);
    --cardBorder: #202125;
    --cardBorderActive: #8ab4f8;
    --textColor: #e9eaee;
    --linkColor: #8ab4f8;
  }
}

.card-block {
  width: 260px;
  height: 350px;
  aspect-ratio: 2/3;
  background: var(--background) !important;
  color: var(--textColor);
  border: 1px solid var(--cardBorder);
  padding: 25px;
  box-shadow: 8px 8px 0 var(--cardShadow);
  transition: box-shadow 0.5s, transform 0.5s;
  border-radius: 8px;
  display: inline-block;
}

.card-block:hover {
  transform: translate(-2px, -4px);
  box-shadow: 16px 16px 0 var(--cardShadowHover);
}

.card-block:active {
  transform: translate(-2px, -4px);
  border: 2px solid var(--cardBorderActive);
  box-shadow: 4px 4px 0 var(--cardShadowActive);
}

.card-block > .icon,
.card-block > .title,
.card-block > .description {
  margin-bottom: 0.7em;
  cursor: default;
  user-select: none;
}

.card-block > .title {
  margin-top: 1.5em;
  font-weight: bold;
}

.card-block > .description {
  line-height: 1.5em;
  min-height: 6em;
}

.card-block > .icon {
  font-size: 3em;
  margin-bottom: 0.2em;
}

.card-block-block > .link {
  margin-bottom: 1rem;
  color: var(--linkColor);
  font-size: 0.8em;
  font-weight: 600;
}

/* Optional ~ Link the whole card-block */
.card-block-block > .link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-block-block > .link:after {
  content: "↗️";
  display: inline-block;
  margin-left: 0.3em;
  transition: transform 0.3s ease-in-out;
}

.card-block-block:hover > .link:after {
  transform: translate(0.2em, -0.2em);
}

/* product card-block style end */
.icon img {
  width: 209px;
  height: 180px;
  border-radius: 15px;
}

.product-btn-loc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 5px;
}

.edit-btn {
  width: 70px;
}

.product-title,
.product-price {
  color: white;
}

.product-list {
  /* justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
  text-align: center;
}

.title-name {
  font-size: 24px;
  font-weight: bold;
}

.page-link {
  border-color: #202125 !important;
  background-color: #3c4043 !important;
  color: white !important;
}

.footer {
  justify-content: end;
}
